{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
    <div id="main" class="container">
        <div class="cols-sm-2 col-md-6 col-lg-6">
            <form action="" method="post">
                {% csrf_token %}
                <fieldset class="form-group" id="passwordFieldset">
                    {{ form|crispy }}
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" value="" id="passwordCheckbox" onclick="toggleVisibility()">
                        <label class="form-check-label" for="passwordCheckbox"> Prikaži geslo</label>
                    </div>
                    <p class="text-right small" style="font-size: 70%; padding-right: 5px"><i>* Označena polja so obvezna.</i></p>
                </fieldset>
                <input type="submit" class="btn btn-success" value="Spremeni">
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function toggleVisibility() {
            let inputs = document.getElementById("passwordFieldset").getElementsByTagName("input");
            for (let input of inputs) {
                if (input.id !== "passwordCheckbox") {
                    input.type = (input.type === "password") ? "text" : "password";
                }
            }
        }
    </script>
{% endblock %}