{% load crispy_forms_filters %}
<form hx-post="{{ request.path }}"  hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' class="modal-content">
  {% csrf_token %}
  <div class="modal-header">
    <h5 class="modal-title">Povabi k nalogi</h5>
  </div>
  <div class="modal-body">
    {{ form|crispy }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
      Prekliči
    </button>
    <button type="submit" class="btn btn-primary"> Povabi</button>
  </div>
</form>
