{% extends "base.html" %}

{% block content %}
    <div class="container mt-4">
        <h3>Seznam sprintov za izbrani projekt</h3>
        <div class="row mt-2 mb-2">
{% comment %}            <div class="col-sm-12 col-md-4 col-lg-4 me-auto">
                <label>Izberite projekt katerega sprinte želite videti</label>
                <select class="form-select"
                        aria-label="Izbirnik projektov"
                        onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);"
                >
                    {% if izbran_projekt %}
                        <option value="{% url 'sprint_list_id' izbran_projekt.id %}" selected>{{ izbran_projekt.ime }}</option>
                        <option value="{% url 'sprint_list' %}">Vsi projekti</option>
                    {% else %}
                        <option value="{% url 'sprint_list' %}" selected>Vsi projekti</option>
                    {% endif %}

                    {% for projekt in projekti %}
                        {% if izbran_projekt %}
                            {% if projekt.id != izbran_projekt.id %}
                                <option value="{% url 'sprint_list_id' projekt.id %}">{{ projekt.ime }}</option>
                            {% endif %}
                        {% else %}
                            <option value="{% url 'sprint_list_id' projekt.id %}">{{ projekt.ime }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>{% endcomment %}
            <div class="col-sm-12 col-md-auto col-lg-auto align-self-end d-flex flex-row-reverse">
                <a class="btn btn-success" href="{% url 'create_new_sprint' %}" role="button">Dodaj nov sprint</a>
            </div>
        </div>


        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    {% if not izbran_projekt %}<th scope="col">Projekt</th>{% endif %}
                    <th scope="col">Ime</th>
                      <th scope="col">Začetni čas</th>
                      <th scope="col">Končni čas</th>
                      <th scope="col">Hitrost</th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            {% for sprint in sprinti %}
                <tr class="{% if sprint.pretekel %}table-danger{% elif sprint.bo_pretekel%}table-warning{% endif %}">
                    <td class="align-middle">{{ forloop.counter }}</td>
                    {% if not izbran_projekt %}<td class="align-middle">{{ sprint.projekt.ime }}</td>{% endif %}
                    <td class="align-middle">{{ sprint.ime }}</td>
                    <td class="align-middle">{{ sprint.zacetni_cas|date:'d.m.Y' }}</td>
                    <td class="align-middle">{{ sprint.koncni_cas|date:'d.m.Y' }}</td>
                    <td class="align-middle">{{ sprint.hitrost }}</td>
                    <td class="align-middle"><a class="btn btn-primary" href="{% url 'edit_sprint' sprint.id %}" role="button"><i class="fas fa-edit"></i></a></td>
                    <td class="align-middle"><a class="btn btn-danger" href="{% url 'delete_sprint' sprint.id %}" role="button"><i class="fas fa-trash-alt"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}