{% extends "base.html" %}
{% block content %}
    <div class="container mt-4">
        <div class="row mt-4 mb-2">
            <h1>Projekt: {{ projekt.ime }}</h1>
        </div>
        <div class="row mt-4 mb-2">
            {% if sprint %}
                <h2>Sprint: {{ sprint.ime }}</h2>
            {% else %}
                <h2>Ni aktivnega sprinta</h2>
            {% endif %}
        </div>
        <div class="mb-4">
            {% for zgodba_object in zgodbe %}
                <div class="card">
                    <div class="card-header d-flex align-items-baseline" style="justify-content: space-between">
                        <h3 class="card-title" style="margin-right: 5px">{{ zgodba_object.zgodba.ime }}</h3>
                    </div>
                    <div class="card-body">
                        <h5>Vsebina:</h5>
                        <p class="card-text">{{ zgodba_object.zgodba.vsebina|linebreaks }}</p>
                        <h5>Sprejemni testi:</h5>
                        <p class="card-text">{{ zgodba_object.zgodba.sprejemni_testi|linebreaks }}</p>
                        <p class="card-text">Poslovna vrednost: {{ zgodba_object.zgodba.poslovna_vrednost }}</p>
                        <p class="card-text">Prioriteta: {{ zgodba_object.zgodba.get_prioriteta_display }}</p>
                        <hr/>
                        <div>
                            <h4>Naloge</h4>
                             <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Ime</th>
                                        <th>Opis</th>
                                        <th>Status</th>
                                        <th>Zadolžen</th>
                                        <th>Čas [ure]</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for naloga in zgodba_object.naloge %}
                                        <tr>
                                            <td>{{ naloga.ime }}</td>
                                            <td>{{ naloga.opis }}</td>
                                            <td>{{ naloga.get_status_display }}</td>
                                            <td>{{ naloga.clan.uporabnik.username }}</td>
                                            <td>{{ naloga.cas }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
   </div>
{% endblock %}