{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
    <div id="main" class="container mt-4">
        <div class="cols-sm-2 col-md-6 col-lg-6">
            <h4>{% if create %}Ustvari nov sprint{% else %}Posodobi sprint{% endif %}</h4>

            <form action="" method="post">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form|crispy }}
                    <p class="text-right small" style="font-size: 70%; padding-right: 5px"><i>* Označena polja so obvezna.</i></p>
                </fieldset>
                <input type="submit" class="btn btn-success" value="{% if create %}Ustvari{% else %}Posodobi{% endif %}">
            </form>
        </div>
    </div>
{% endblock %}