{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}
    {% if error %}
        <script>
            window.alert({{ error }})
        </script>
    {% endif %}
    <div id="taskModal" class="modal fade">
        <div id="dialog" class="modal-dialog" hx-target="this"></div>
    </div>
    <div class="container mt-4">
        <div class="d-flex justify-content-between mb-3">
            <h1>Projekt: {{ projekt.ime }}</h1>
        </div>

        <div>
            {% for zgodba in zgodbe %}
                <div class="card">
                    <div class="card-header d-flex align-items-baseline" style="justify-content: space-between">
                        <div class="row align-items-center">
                            <div class="col align-items-center">
                                <h3 class="card-title text-center mb-0" style="margin-right: 5px">
                                    {{ zgodba.ime }}
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5>Vsebina:</h5>
                        <p class="card-text">{{ zgodba.vsebina|linebreaks }}</p>
                        <h5>Sprejemni testi:</h5>
                        <p class="card-text">{{ zgodba.sprejemni_testi|linebreaks }}</p>
                        <p class="card-text">Poslovna vrednost: {{ zgodba.poslovna_vrednost }}</p>
                        <p class="card-text">Prioriteta: {{ zgodba.get_prioriteta_display }}</p>
                    </div>
                    <div class="card">
                        <div class="card-header d-flex align-items-baseline" style="justify-content: space-between">
                            Naloge
                            <div class="d-flex">
                                {% if clan is not None or scrum_master is not None %}
                                    {% if zgodba.canAddTask %}
                                        <button class="btn" hx-get="{% url 'create_new_task' zgodba.id %}" hx-target="#dialog"/>
                                        <span><i class="fas fa-plus-square" style="color: gray"></i></span>
                                        </button>
                                    {% endif %}
                                {% endif %}
                                {% if clan is not None or scrum_master is not None  %}
                                <button  class="btn" hx-get="{% url 'create_new_task' zgodba.id %}" hx-target="#dialog"/>
                                    <span><i class="fas fa-plus-square" style="color: gray"></i></span>
                                </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Ime</th>
                            <th scope="col">Opis</th>
                            <th scope="col">Časovna ocena</th>
                            <th scope="col">Status</th>
                            <th scope="col">Zadolžen</th>
                            <th scope="col" colspan="4">Akcije</th>
                        </tr>
                        </thead>
                        <tbody class="tasksTable" id="tasksTable{{ forloop.counter0 }}" hx-trigger="load, tasksListChanged from:body"
                               hx-get="{% url 'tasks_list' zgodba.id %}">
                        </tbody>
                    </table>

                </div>
                <br/>
            {% endfor %}
            <br/>
        </div>
    </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        ;(function () {
            $('[data-toggle="tooltip"]').tooltip();
            const tasks_modal = new bootstrap.Modal(document.getElementById("taskModal"))
            document.body.addEventListener("tasksListChanged", function (evt) {
                tasks_modal.hide()
            })
            htmx.on("htmx:afterSwap", (e) => {
                // Response targeting #dialog => show the modal

                if (e.detail.target.id == "dialog") {
                    tasks_modal.show()
                }
            })

            htmx.on("htmx:beforeSwap", (e) => {
                if (e.detail.target.id == "dialog" && !e.detail.xhr.response) {
                    tasks_modal.hide()
                    e.detail.shouldSwap = false
                }
            })

            // Remove dialog content after hiding
            htmx.on("hidden.bs.modal", () => {
                document.getElementById("dialog").innerHTML = ""
            })
        })()
    </script>
    <script>
        $(function () {
            $.ajaxSetup({
                headers: {
                    "X-CSRFToken": $('[name=csrfmiddlewaretoken]').val()
                }
            })
        });
    </script>
    <script>
        function changeButton(el, task_id){
            let i = el.children[1].children[0];
            if(i.classList[1] === "fa-hourglass-start"){
                $.ajax({
                    type: "POST",
                    url: "/start_timer/"+task_id+"/",
                    data:{"csrfmiddlewaretoken":el.children[0].value},
                    success: function (status,data,xhr) {
                        i.classList.remove("fa-hourglass-start");
                        i.classList.add("fa-hourglass-end");
                        el.classList.remove("btn-success");
                        el.classList.add("btn-danger");
                        el.title= "Prenehaj z beleženjem časa.";
                    }
                })
            }else{
                i.classList.add("fa-hourglass-start");
                i.classList.remove("fa-hourglass-end");
                el.classList.remove("btn-danger");
                el.classList.add("btn-success");
                el.title = "Začni beležit čas.";
            }
        }
    </script>
{% endblock %}
