{% extends "base.html" %}

{% block content %}
    <div class="container mt-4">
        <h3>Seznam sprintov za izbrani projekt</h3>
        <div class="row mt-2 mb-2">
            <div class="col-sm-12 col-md-auto col-lg-auto align-self-end d-flex flex-row-reverse">
                {% if isSM %}<a class="btn btn-success" href="{% url 'create_new_sprint' izbran_projekt.id %}" role="button">Dodaj nov sprint</a>{% endif %}
            </div>
        </div>


        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    {% if not izbran_projekt %}<th scope="col">Projekt</th>{% endif %}
                    <th scope="col">Ime</th>
                      <th scope="col">Začetni čas</th>
                      <th scope="col">Končni čas</th>
                      <th scope="col">Hitrost</th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            {% for sprint in sprinti %}
                <tr class="{% if sprint.pretekel %}table-danger{% elif sprint.bo_pretekel%}table-warning{% endif %}">
                    <td class="align-middle">{{ forloop.counter }}</td>
                    {% if not izbran_projekt %}<td class="align-middle">{{ sprint.projekt.ime }}</td>{% endif %}
                    <td class="align-middle">{{ sprint.ime }}</td>
                    <td class="align-middle">{{ sprint.zacetni_cas|date:'d.m.Y' }}</td>
                    <td class="align-middle">{{ sprint.koncni_cas|date:'d.m.Y' }}</td>
                    <td class="align-middle">{{ sprint.hitrost }}</td>
                    {% if isSM %}<td class="align-middle"><a class="btn btn-primary {% if sprint.zacel %} disabled {% endif %}" href="{% url 'edit_sprint' izbran_projekt.id sprint.id %}" role="button"><i class="fas fa-edit"></i></a></td>{% endif %}
                    {% if isSM %}<td class="align-middle"><a class="btn btn-danger {% if sprint.zacel %} disabled {% endif %}" href="{% url 'delete_sprint' izbran_projekt.id sprint.id %}" role="button"><i class="fas fa-trash-alt"></i></a></td>{% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}