{% for task in tasks %}
    <tr id="task-{{ task.pk }}" class="task-row">
        <td class="col-2">{{ task.ime }}</td>
        <td class="col-6">{{ task.opis }}</td>
        <td class="col-sm-2">{{ task.cas }}</td>
        {% if task.status == -1 %}
            <td class="col-sm-2">Nedodeljena</td>
            <td class="col-2">
                <a hx-get="{% url 'accept_task' task.id %}" class="link-success">Sprejmi</a>
            </td>
            {% if canEdit %}
                <td class="col">
                    <button class="btn btn-primary btn-sm" hx-get="{% url 'edit_task' pk=task.pk %}" hx-target="#dialog">
                        <i class="fa fa-edit"></i>
                    </button>
                </td>
                <td class="col">
                   <button class="btn btn-danger btn-sm" hx-get="{% url 'remove_task' pk=task.pk %}" hx-target="#dialog">
                        <i class="fa fa-trash"></i>
                   </button>
                </td>
            {% endif %}
        {% elif task.status == 0 %}
            {% if task.clan.uporabnik == request.user %}
                <td class="col-2">
                    <a hx-get="{% url 'accept_task' task.id %}" class="link-success">Sprejmi</a>
                </td>

                <td class="col-2">
                    <a hx-get="{% url 'resign_task' task.id %}" class="link-danger">Odstopi</a>
                </td>

            {% else %}
                <td class="col-sm-2">Na čakanju</td>
            {% endif %}

        {% elif task.status == 1 %}
            <td class="col-sm-2">Dodeljena</td>
            {% if canEdit %}
                <td class="col">
                    <button class="btn btn-primary btn-sm" hx-get="{% url 'edit_task' pk=task.pk %}" hx-target="#dialog">
                        <i class="fa fa-edit"></i>
                    </button>
                </td>
                <td class="col">
                   <button class="btn btn-danger btn-sm" hx-get="{% url 'remove_task' pk=task.pk %}" hx-target="#dialog">
                        <i class="fa fa-trash"></i>
                   </button>
                </td>
            {% endif %}
        {% elif task.status == 2 %}
            <td class="col-sm-2">Zaključena</td>
        {% endif %}
    </tr>
{% endfor %}
