{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="container mt-4">
        <div class="mt-4 mb-2 d-flex align-items-baseline" style="justify-content: space-between">
            <h1>#{{ projekt.id }} {{ projekt.ime }}</h1>
            {% if project_owner is not None or scrum_master is not None %}
                <button class="btn pull-right btn-success text-right float-right justify-position-end" data-bs-toggle="modal"
                        data-bs-target="#addNewStory" data-bs-Gumb="Ustvari novo zgodbo"
                        data-bs-Action="/api/projects/{{ projekt.id }}/stories/">
                    <i class="fa fa-plus"></i> Dodaj zgodbo
                </button>
            {% endif %}
        </div>
        <ul class="nav nav-pills nav-justified mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-unfinished-tab" data-bs-toggle="pill" data-bs-target="#pills-unfinished" type="button" role="tab" aria-controls="pills-unfinished" aria-selected="true">Nedokončane zgodbe</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-finished-tab" data-bs-toggle="pill" data-bs-target="#pills-finished" type="button" role="tab" aria-controls="pills-finished" aria-selected="false">Dokončane zgodbe</button>
            </li>
        </ul>
        <div id="pills-tabContent" class="tab-content mt-4 mb-2">
            <div id="pills-unfinished" class="tab-pane fade show active" role="tabpanel" aria-labelledby="pills-unfinished-tab">
                <div class="mb-4">
                    <h2>Dodeljene zgodbe</h2>
                    {% if past_unfinished_stories|length > 0 %}
                        <h3>Pretekli sprinti</h3>
                        {% for zgodba_object in past_unfinished_stories %}
                            {% include 'product_backlog/story.html' %}
                            <br/>
                        {% endfor %}
                    {% endif %}
                    {% if current_sprint %}
                        <div class="d-flex justify-content-between">
                            <h3>Trenutni sprint: <span class="h4">#{{ current_sprint.id }} {{ current_sprint.ime }}</span> <span class="h5">[hitrost: {{ current_sprint.hitrost }}]</span></h3>
                            {% if scrum_master is not None %}
                                <button id="addStoriesToSprintBtn" class="btn btn-success mb-2"
                                    {% if sum_zgodb >= current_sprint.hitrost %} disabled {% endif %}
                                >Dodaj izbrane zgodbe</button>
                            {% endif %}
                        </div>
                        {% if scrum_master is not None %}
                            <div class="progress mb-2">
                                <div
                                    class="progress-bar progress-bar-striped {% if sum_zgodb >= current_sprint.hitrost %}bg-danger {% else %}bg-info{% endif %}"
                                    role="progressbar"
                                    style="width: {{ sum_zgodb_frac|stringformat:".1f" }}%"
                                    aria-valuenow="{{ sum_zgodb }}"
                                    aria-valuemin="0"
                                    aria-valuemax="{{ current_sprint.hitrost }}">
                                    {{ sum_zgodb }} / {{ current_sprint.hitrost }}
                                </div>
                            </div>
                        {% endif %}
                        {% for zgodba_object in current_unfinished_stories %}
                            {% include 'product_backlog/story.html' %}
                            <br/>
                        {% empty %}
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text">Sprint ne vsebuje zgodb.</p>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <hr/>

                    <h2>Nedodeljene zgodbe</h2>
                    {% for zgodba_object in rest_unfinished_stories %}
                        {% include 'product_backlog/story.html' %}
                        <br/>
                    {% empty %}
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">Ni nedodeljenih zgodb.</p>
                            </div>
                        </div>
                    {% endfor %}

                    <hr/>

                    <h2>Zgodbe v prihodnjih sprintih</h2>
                    {% for zgodba_object in future_unfinished_stories %}
                        {% include 'product_backlog/story.html' %}
                        <br/>
                    {% empty %}
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">Ni zgodb v prihodnjih sprintih.</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div id="pills-finished" class="tab-pane fade" role="tabpanel" aria-labelledby="pills-finished-tab">
                {% for sprint_object in finished_stories %}
                    {% include "product_backlog/stories-finished.html" %}
                    <br/>
                {% endfor %}
            </div>
        </div>

        <div class="modal fade" tabindex="-1" id="addNewStory" aria-labelledby="addNewStory" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Ustvari novo zgodbo</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" class="form-group" id="createNewStoryForm" action="">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                {{ story_form|crispy }}
                                <p class="text-right small" style="font-size: 70%; padding-right: 5px"><i>* Označena
                                    polja so obvezna.</i></p>
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zapri</button>
                        <button type="submit" form="createNewStoryForm" class="btn btn-success"></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" tabindex="-1" id="addNote" aria-labelledby="addNote" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Dodaj opombo</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" class="form-group" id="addNoteForm" action="">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                {{ opombe_form|crispy }}
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zapri</button>
                        <button type="submit" form="addNoteForm" class="btn btn-success">Posodobi opombe</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" tabindex="-1" id="changeTime" aria-labelledby="changeTime" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Spremeni časovno zahtevnost</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="changeTimeForm" action="" method="post">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                {{ ocena_form|crispy }}
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zapri</button>
                        <button type="submit" form="changeTimeForm" class="btn btn-success">Spremeni</button>
                    </div>
                </div>
            </div>
        </div>
   </div>
{% endblock %}

{% block scripts %}
    <script>
        $(function () {
            $.ajaxSetup({
                headers: {
                    "X-CSRFToken": $('[name=csrfmiddlewaretoken]').val()
                }
            })
        });

        var modalStory = document.getElementById("addNewStory");
        modalStory.addEventListener("show.bs.modal", fillForm);
        var formStory = document.getElementById("createNewStoryForm");
        formStory.addEventListener("submit", function (event) {
            event.preventDefault();
            $.post(formStory.action, $(this).serialize())
                .done(function () {
                    location.reload();
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    if (jqXHR.hasOwnProperty('responseJSON') && jqXHR.responseJSON.hasOwnProperty('Message')) {
                        alert(jqXHR.responseJSON.Message);
                    } else {
                        alert(errorThrown);
                    }
                });
        });

        function fillForm(event) {
            var button = event.relatedTarget;
            var modal = document.getElementById("addNewStory");
            var values = [button.getAttribute("data-bs-Ime"),
                button.getAttribute("data-bs-Vsebina"),
                button.getAttribute("data-bs-SprejemniTesti"),
                button.getAttribute("data-bs-Vrednost"),
                button.getAttribute("data-bs-Prioritety")]
            var modalBodyInput = modal.querySelectorAll('fieldset  input, fieldset  textarea');
            modalBodyInput[0].value = values[0];
            modalBodyInput[1].value = values[1];
            modalBodyInput[2].value = values[2];
            modalBodyInput[3].value = parseInt(values[3]);
            $("select option").filter(function () {
                //may want to use $.trim in here
                return $(this).text() === values[4];
            }).prop('selected', true);
            $("button[type='submit']")[0].innerText = button.getAttribute("data-bs-Gumb");
            formStory.action = button.getAttribute("data-bs-Action");
        }


        let modalOpombe = document.getElementById("addNote");
        modalOpombe.addEventListener("show.bs.modal", openNotesForm);

        let formNotes = document.getElementById("addNoteForm");
        formNotes.addEventListener("submit", function (event) {
           event.preventDefault();
           $.post(formNotes.action, $(this).serialize())
               .done(function () {
                   location.reload();
               })
               .fail(function (jqXHR, textStatus, errorThrown) {
                   if (jqXHR.hasOwnProperty('responseJSON') && jqXHR.responseJSON.hasOwnProperty('Message')) {
                       alert(jqXHR.responseJSON.Message);
                   } else {
                       alert(errorThrown);
                   }
               });
        });

        function openNotesForm(event) {
            let button = event.relatedTarget;
            let modalBodyInput = modalOpombe.querySelectorAll('fieldset textarea');
            modalBodyInput[0].value = button.getAttribute("data-bs-Opombe");
            formNotes.action = button.getAttribute("data-bs-Action");
        }

        function deleteStory(project_id, story_id) {
            if (confirm("Želite izbrisati zgodbo ?")) {
                $.ajax({
                    url: "/api/projects/" + project_id + "/stories/" + story_id + "/",
                    type: "DELETE",
                    success: function (data) {
                        location.reload();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        if (jqXHR.hasOwnProperty('responseJSON') && jqXHR.responseJSON.hasOwnProperty('Message')) {
                            alert(jqXHR.responseJSON.Message);
                        } else {
                            alert(errorThrown);
                        }
                    }
                })
            }
        }

        function confirmStory(project_id, story_id) {
             if (confirm("Želite potrditi zgodbo?")) {
                 $.ajax({
                     url: "/api/projects/" + project_id + "/stories/" + story_id + "/confirm/",
                     type: "POST",
                     success: function (data) {
                         location.reload();
                     },
                     error: function (jqXHR, textStatus, errorThrown) {
                         if (jqXHR.hasOwnProperty('responseJSON') && jqXHR.responseJSON.hasOwnProperty('Message')) {
                             alert(jqXHR.responseJSON.Message);
                         } else {
                             alert(errorThrown);
                         }
                     }
                 });
             }
        }

        let formOcena = document.getElementById("changeTimeForm");
        let modalOcena = document.getElementById("changeTime");
        modalOcena.addEventListener("show.bs.modal", function (event) {
            console.log("SHOW MODAL");
            let button = event.relatedTarget;
            console.log(modalOcena.querySelector("input"));
            console.log(button.getAttribute("data-bs-Ocena"));
            modalOcena.querySelectorAll("input")[1].value = button.getAttribute("data-bs-Ocena");
            formOcena.action = button.getAttribute("data-bs-Action");
        });

        formOcena.addEventListener("submit", function (event) {
           event.preventDefault();
            $.post(formOcena.action, $(this).serialize())
               .done(function () {
                   location.reload();
               })
               .fail(function (jqXHR, textStatus, errorThrown) {
                   if (jqXHR.hasOwnProperty('responseJSON') && jqXHR.responseJSON.hasOwnProperty('Message')) {
                       alert(jqXHR.responseJSON.Message);
                   } else {
                       alert(errorThrown);
                   }
               });
        });

        $( "#addStoriesToSprintBtn" ).click(function() {
            var checkedStories = $('.storyCheckbox:checkbox:checked').map(function() {
                return parseInt(this.id.replace("check", ""));
            }).get();
            if(checkedStories.length < 1){
                Swal.fire({
                    title: `Izbrati morate vsaj eno zgodbo!`,
                    icon: 'warning',
                    showCloseButton: true,
                    allowOutsideClick: true,
                })
            }
            else{
                $.ajax({
                    type: "POST",
                    url: "/stories_to_sprint/{{ projekt.id }}/{{ current_sprint.id }}/",
                    data: {
                        "storyIds": checkedStories.join(",")
                    },
                    success: () => {
                        location.reload();
                    },
                    error:() =>{
                        Swal.fire({
                            title: `Skupna ocena zgodb presega hitrost sprinta!`,
                            icon: 'warning',
                            showCloseButton: false,
                            allowOutsideClick: true,
                        })
                    }
                });

            }

        });
    </script>
{% endblock %}