<div class="card">
    <div class="card-header d-flex align-items-baseline" style="justify-content: space-between">
        <div class="row align-items-center">
            {% if not zgodba_object.zgodba.realizirana and zgodba_object.zgodba.ocena > 0 and not zgodba_object.zgodba.sprint and scrum_master is not None %}
                <div class="col-1">
                    {% comment %} IF: PREVERI ALI SO VSI POGOJI IZPOLNJENI {% endcomment %}
                    <input
                        class="form-check-input storyCheckbox"
                        type="checkbox" value=""
                        id=check{{ zgodba_object.zgodba.id }}
                    >
                </div>
            {% endif %}
            <div class="col align-items-center">
                <h4 class="card-title mb-0" style="margin-right: 5px">{{ zgodba_object.zgodba.ime }}</h4>
                <br/>
                {% if zgodba_object.zgodba.sprint %}
                    <h5>Sprint: {{ zgodba_object.zgodba.sprint.ime }}</h5>
                {% endif %}
                <span>Ocena časovne zahtevnosti [točke]: {{ zgodba_object.zgodba.ocena|default_if_none:"0" }}</span>
                {% if scrum_master %}

                    <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#changeTime"
                            data-bs-Ocena="{{ zgodba_object.zgodba.ocena|default_if_none:0 }}"
                            data-bs-Action="/api/projects/{{ projekt.id }}/stories/{{ zgodba_object.zgodba.id }}/time/">
                        Spremeni
                    </button>
                {% endif %}
                <hr/>
                {% if zgodba_object.work_done|length > 0 %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Sprint</th>
                                <th scope="col">Opravljeno delo [ure]</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for sprint_work in zgodba_object.work_done %}
                                <tr>
                                    <td>{{ sprint_work.sprint.ime }}</td>
                                    <td style="text-align: center">{{ sprint_work.work|default_if_none:"0" }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <span>Ni še bilo opravljenega dela</span>
                {% endif %}
            </div>
        </div>
        {% if project_owner is not None or scrum_master is not None %}
            {% if not zgodba_object.zgodba.realizirana and zgodba_object.zgodba.sprint == None %}
                <div class="d-flex" style="justify-content: space-evenly">
                    <button class="btn" data-bs-toggle="modal" data-bs-target="#addNewStory"
                            data-bs-Ime="{{ zgodba_object.zgodba.ime }}"
                            data-bs-Vsebina="{{ zgodba_object.zgodba.vsebina }}"
                            data-bs-SprejemniTesti="{{ zgodba_object.zgodba.sprejemni_testi }}"
                            data-bs-Vrednost="{{ zgodba_object.zgodba.poslovna_vrednost }}"
                            data-bs-Prioritety="{{ zgodba_object.zgodba.get_prioriteta_display }}"
                            data-bs-Gumb="Posodobi zgodbo"
                            data-bs-Action="/api/projects/{{ projekt.id }}/stories/{{ zgodba_object.zgodba.id }}/">
                        <span><i class="fas fa-edit" style="color: gray"></i></span>
                    </button>

                    <button class="btn" onclick="deleteStory({{ projekt.id }}, {{ zgodba_object.zgodba.id }})"><span><i
                            class="fas fa-times" style="color: red"></i></span></button>
                </div>
            {% endif %}
        {% endif %}
    </div>
    <div class="card-body">
        <h5>Vsebina:</h5>
        <p class="card-text">{{ zgodba_object.zgodba.vsebina|linebreaks }}</p>
        <h5>Sprejemni testi:</h5>
        <p class="card-text">{{ zgodba_object.zgodba.sprejemni_testi|linebreaks }}</p>
        <p class="card-text">Poslovna vrednost: {{ zgodba_object.zgodba.poslovna_vrednost }}</p>
        <p class="card-text">Prioriteta: {{ zgodba_object.zgodba.get_prioriteta_display }}</p>
        {% if zgodba_object.zgodba.opombe %}
            <hr/>
            <h5>Opombe:</h5>
            <p class="card-text">{{ zgodba_object.zgodba.opombe|linebreaks }}</p>
        {% endif %}
    </div>
    <div class="card-footer d-flex align-items-baseline" style="justify-content: space-between">
        {% if not zgodba_object.zgodba.realizirana and zgodba_object.naloge_vse is not None and zgodba_object.naloge_dokoncane is not None %}
            <div class="">
                <p>Število nalog: {{ zgodba_object.naloge_vse }}</p>
                <p>Število dokončanih nalog: {{ zgodba_object.naloge_dokoncane }}</p>
            </div>
            {% if project_owner %}
                <div>
                    <button type="button" class="btn btn-success"
                            {% if zgodba_object.naloge_vse == 0 or zgodba_object.naloge_dokoncane != zgodba_object.naloge_vse %}
                                disabled
                            {% endif %}
                        onclick="confirmStory({{ projekt.id }}, {{ zgodba_object.zgodba.id }})"
                    >Potrdi zgodbo
                    </button>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#addNote" data-bs-Opombe="{{ zgodba_object.zgodba.opombe }}"
                        data-bs-Action="/api/projects/{{ projekt.id }}/stories/{{ zgodba_object.zgodba.id }}/reject/"
                    >Zavrni zgodbo</button>
                </div>
            {% endif %}
    {% endif %}
    </div>
</div>
